<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132693952-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132693952-1');

    </script> -->
    <title>The Fortune Cookie AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">        
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href='../static/site.css'>
    <script type="text/javascript" src='../static/app.js'></script>
</head>

<body>
    <div class="title">
        Our AI has placed your fortune inside the cookie. <br />
        Click to open and view it!
    </div>

    <div>
        <img id="cookie" src="../static/images/close.jpg">
    </div>

    <div id="msg" class="dialog">
        <p>Oops, it's empty! Please try again...</p>
    </div>
</body>

</html>