<!DOCTYPE html>
<html lang="en">

<head>    
    <title>The Fortune Cookie AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">        
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href='../static/site.css'>
    <script type="text/javascript" src='../static/app.js'></script>
</head>

<body>
    <div class="title">
        Our AI has placed your fortune inside the cookie. <br />
        Click to open and view it!
    </div>

    <div>
        <img id="cookie" src="../static/images/close.jpg">
    </div>

    <div id="msg" class="dialog">
        <p></p>
    </div>

    <!-- <div id='loader'><img src="../static/images/spinner.gif"/></div> -->

    <footer>
        Source code in <a href="https://github.com/PPPW/fortune-cookie-ai">Github</a>
    </footer>
</body>

</html>